.checkout-section{
  font-family:'DM Sans',sans-serif;
  background-color: rgb(246, 246, 238);
  margin: 0;
  min-height:100vh;
}
.checkout-header{
  height:70px;
  border-bottom:1px solid rgb(117, 116, 116);
  display:flex;
  flex-direction:row;
  align-items:center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  margin:0;
}
.checkout-header p{
  font-size:20px;
  margin-left:10px;
}
.delivery-checkout{
  margin-bottom:0;
  display:flex;
  flex-direction:column;
}
.delivery-and-edit{
  margin-right:20px;
  margin-left:20px;
  margin-top:0;
  margin-bottom:0;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  margin-bottom:0;
}
.checkout-edit-button{
  color:rgb(240, 69, 69); 
  margin-bottom: 0;
  font-weight: bold;
}
.delivery-to-text{
  margin-bottom: 0;
  font-size:20px;
  font-weight:bold;
}
.address-box{
  display:flex;
  flex-direction:row;
  margin:15px;
  background-color: white;
  border-radius:15px;
}
.checkout-location-img-box{
  width:25px;
  margin:10px;
  margin-top:20px;
}
.checkout-location-img{
  width:100%;
}
.location-texts{
  margin:0;
  display:flex;
  flex-direction: column;
}
.home-word{
  font-size:22px;
  margin-top:17px;
  font-weight:bold;
  margin-bottom:0;
}
.actual-location{
  margin-top:0;
  opacity:0.6;
  font-size:18px;
}
.payment-box{
  display:flex;
  flex-direction: row;
  margin:15px;
  background-color: white;
  border-radius:15px;
}
.visa-img-box{
  width:45px;
  margin:10px;
}
.visa-img{
  width:100%;
}
.visa-number{
  font-size:18px;
  font-weight:18px;
  margin-top:20px;
}
.payment-edit-button{
  color:rgb(240, 69, 69); 
  margin-bottom: 0;
  margin-right:27px;
  font-weight: bold;
}
.add-total{
  margin:0;
}
.order-summary-word{
  font-size:20px;
  margin-left:15px;
  font-weight:bold;
  margin-bottom:0;
}
.confirm-order-button{
  display:flex;
  align-items:center;
  justify-content: center;
  background-color: rgb(240, 69, 69);
  padding:15px;
  border-radius:15px;
  font-size:18px;
  color:white;
}
.new-location-box{
  display:flex;
  flex-direction:row;
  margin-bottom:15px;
  justify-content: space-between;
  align-items: center;
  border-radius:15px;
  background-color: rgb(241, 241, 237);
  padding-left:10px;
  padding-right:10px;
  margin-right:15px;
  height:fit-content;
}
.new-location{
  height:40px;
  display:flex;
  align-items: center;
  margin-right:20px;
  padding-left:25px;
  border-radius:15px;
  border:none;
  font-family:'DM Sans',sans-serif;
}
.new-location::placeholder{
  font-size:14px;
}
.confirm-btn,.confirm-btn2{
  margin-left:auto;
  padding-right:20px;
  padding-left:20px;
  border-radius:15px;
  padding:10px;
  background-color:rgb(240, 69, 69);
  color:white;
}
.payment-edit-box{
  position:relative;
}
.payment-options-box{
  position:absolute;
  display:flex;
  flex-direction:column;
  align-items: center;
  top:40px;
  right:1px;
  gap:1px;
}
.payment-options-box p{
  border-radius:15px;
  margin:0;
  display:flex;
  align-items:center;
  justify-content: center;
  padding-top:5px;
  padding-bottom:5px;
  white-space:nowrap;
  width:86px;
  background-color: rgb(240, 69, 69);
  color:white;
}
.number-box{
  display:flex;
  flex-direction:row;
  margin-bottom:15px;
  justify-content: space-between;
  align-items: center;
  border-radius:15px;
  background-color: rgb(241, 241, 237);
  padding-left:10px;
  padding-right:10px;
  margin-right:15px;
  height:fit-content;
}
.new-number{
  height:40px;
  display:flex;
  align-items: center;
  margin-right:20px;
  padding-left:25px;
  border-radius:15px;
  border:none;
  font-family:'DM Sans',sans-serif;
}