.custom-builder-section{
  background-color: rgb(246, 246, 238);
  min-height:100vh;
  position:relative;
  margin-top:0;
  padding-bottom:30px;
}
.arrow-builder{
  width:25px;
  margin-left:10px;
}
.arrow-builder-img{
  width:100%;
}
.upper-custom-builder{
  border-bottom:1px solid gray;
}
.custom-builder-header{
  display:flex;
  flex-direction:row;
  align-items:center ;
}
.header-text{
  display:flex;
  align-items:center;
  margin-left:90px;
  flex-direction: column;
}
.build-own-text{
  margin-bottom:0;
  font-weight:bold;
  color:gray;
  font-size:14px;
}
.custom-dish-text{
  margin-top:0;
  font-weight:bold;
  font-size:22px;
  color:rgb(240, 69, 69);
  margin-bottom:0;
}
.score-box{
  display:flex;
  flex-direction:column;
  background-color: white;
  margin:20px;
  border-radius:25px;
  padding:15px;
}
.score-texts{
  display:flex;
  flex-direction:row;
  align-items: center;
  margin:0;
}
.score-text-box{
  display:flex;
  flex-direction:column;
}
.balance-score-text{
  margin-bottom:0;
  font-weight:bold;
  color:gray;
  font-size:14px;
  margin-top:0;
}
.start-building-own-text{
  margin-top:4px;
  font-size:18px;
  font-weight:bold;
  margin-bottom:0;
}
.total-score{
  margin-left:auto;
  color:gray;
  font-weight:bold;
  font-size:20px;
}
.score{
  font-size:27px;
  color:rgb(240, 69, 69);
}
.progress{
  width:100%;
  height:35px;
  margin-top:0;
}
.macros-box{
  display:flex;
  flex-direction:row;
  margin-left:20px;
  margin-right:20px;
  justify-content: space-between;
  margin-top:0;
}
.macro-type{
  color:gray;
  font-weight:bold;
  margin-top:0;
}
.base-box{
  display:flex;
  flex-direction:column;
  gap:15px;
}
.base-title{
  margin-left:20px;
  font-weight:bold;
  font-size:27px;
  margin-bottom:10px;
  text-decoration:underline;
}
.food-img-box{
  width:25px;
  background-color: rgb(242, 240, 240);
  padding:10px;
  border-radius:10px;
  border:0.5px solid gray;
  margin-top:0;
  margin-bottom:30px;
  margin-left:20px;
}
.food-img{
  width:100%;
  margin-top: 0;
}
.each-food{
  background-color: white;
  display:flex;
  flex-direction:row;
  align-items: center;
  border-radius:15px;
  margin-left:20px;
  margin-right:20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.points-and-img{
  display:flex;
  flex-direction:column;
}
.points-and-img p{
  margin-bottom:5px;
  margin-top:0;
  margin-left:0;
  background-color:rgb(240, 69, 69);
  color:white;
  border-bottom-right-radius:10px ;
  border-top-left-radius:10px ;
  padding:5px;
  width:fit-content;
  display:flex;
  align-items: center;
  justify-content: center;
}
.food-details{
  display:flex;
  flex-direction:column;
  margin-left:10px;
}
.food-name{
  font-weight:bold;
  margin-bottom: 0;
}
.food-cost{
  margin-top:0;
  color:rgb(240, 69, 69);
  font-weight: bold;
  font-size:14px;
}
.add-food-box{
  display:flex;
  flex-direction:row;
  align-items: center;
  margin-left:auto;
  gap:20px;
  margin-right:20px;
}
.plus-food{
  background-color:rgb(233, 66, 66);
  display:flex;
  justify-content: center;
  align-items:center;
  border:none;
  width:35px;
  height:35px;
  color:white;
  border-radius:12px;
  font-size:25px;
}
.minus-food{
  background-color:rgb(231, 219, 219);
  display:flex;
  justify-content: center;
  align-items:center;
  border:none;
  width:35px;
  height:35px;
  color:black;
  border-radius:12px;
  font-size:30px;
}
.not-enough-message{
  position: fixed;
  background-color: rgb(241, 180, 180);
  color:rgb(233, 66, 66);
  font-weight:bold;
  top:50px;
  left:100px;
  padding:10px;
  padding-left:20px;
  padding-right:20px;
  border-radius:35px;
  opacity:0;
  transform:translateY(-300px);
  transition:opacity 0.7s ease,transform 0.7s ease;
}
.custom-proceed-box{
  display:flex;
  flex-direction:row;
  position:fixed;
  background-color: rgb(233, 66, 66);
  left:0;
  right:0;
  color:white;
  align-items: center;
  padding-left:30px;
  padding-right:10px;
  border-radius:15px;
  height:60px;
  font-size:20px;
  bottom:85px;
}
.total-custom-amount{
  margin-left:auto;
  margin-right:20px;
  font-size:28px;
  font-weight:bold;
}
.total-custom-checkout-box{
  display:flex;
  flex-direction:column;
  margin-left:15px;
  margin-right:15px;
  background-color: white;
  border-radius:15px;
  margin-top:10px;
  padding-left:10px;
  padding-right:10px;
}
.custom-item-box{
  display:flex;
  flex-direction:column;
  border-bottom:1px solid gray;
  gap:8px;
  padding-top:10px;
  padding-bottom:10px;
  font-size:18px;
}
.new-item{
  display:flex;
  flex-direction:row;
  align-items: center;
  margin-bottom:0;
  margin-top:0;
  color:gray;
}
.new-item-name{
  margin-bottom:0;
  margin-top:0;
}
.new-item-cost{
  margin-bottom:0;
  margin-top:0;
  margin-left:auto;
  margin-right:20px;
}
.total-custom-box{
  display:flex;
  flex-direction:row;
  font-size:22px;
  font-weight:bold;
}
.total-custom-text{
  font-weight:bold;
}
.total-custom-cost{
  margin-left:auto;
  margin-right:20px;

}