.home-section{
  font-family:'DM Sans',sans-serif;
}
.home-header{
  display:flex;
  height:fit-content;
  border-bottom:1px solid rgb(118, 115, 115);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  flex-direction: column;
}
.upper-header{
  display:flex;
  flex-direction:row;
}
.left-section{
  display:flex;
  flex-direction:column;
  justify-content: center;
}
.logo-box{
  width:160px;
  margin:10px;
  margin-bottom:0;
}
.logo-img{
  width:100%;
}
.right-section{
  display:flex;
  flex-direction:row;
  width:150px;
  margin-top:0;
  margin-left:auto;
  justify-content:space-between;
  align-items:center;
}
.header-icons{
  width:23px;
  margin-left:10px;
  margin-right:10px;
}
.right-section img{
  width:100%;
}
.lower-header{
  display:flex;
  align-items:center;
  justify-content: center;
  margin-left:20px;
  margin-right:20px;
  background-color: rgb(246, 246, 238);
  border-radius:10px;
  margin-bottom: 12px;
}
.search-input{
  height:50px;
  width:100%;
  background-color: rgb(246, 246, 238);
  border:none;
  border-radius:13px;
  font-family:'DM Sans',sans-serif;
}
.search-input::placeholder{
  color:rgb(152, 152, 152);
  font-size:18px;
}
.search-box{
  width:15px;
  margin:10px;
}
.search-icon{
  width:100%;
  opacity:0.6;
}
