.profile-section{
  font-family:'DM Sans',sans-serif;
  background-color: rgb(246, 246, 238);
  margin: 0;
  min-height:100vh;
}
.profile-header{
  height:70px;
  border-bottom:1px solid rgb(117, 116, 116);
  display:flex;
  flex-direction:row;
  align-items:center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
  margin:0;
  
}
.profile-header p{
  font-size:20px;
  margin-left:10px;
}
.upper-profile{
  background-color: white;
  margin-bottom:auto;
  display:flex;
  flex-direction: row;
  border-bottom:1px solid gray;
  align-items: center;
}
.profile-details{
  display:flex;
  flex-direction:column;
  padding-left:20px;
}
.profile-name{
  margin-top:0;
  font-size:20px;
  font-weight:bold;
  margin-bottom:0;
  padding-top:20px;
}
.profile-email{
  font-size:14px;
  margin-top:3px;
  opacity:0.6;
  margin-bottom:0;
}
.edit-profile-button{
  color:rgb(239, 57, 57);
  margin-top:3px;
}
.points-box{
  margin-left:auto;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 192, 192);
  margin-right:20px;
  margin-bottom:20px;
  margin-top:20px;
  padding-right:30px;
  padding-left:30px;
  border-radius:15px;
  border: 1px solid rgb(236, 84, 109);
}
.points-word{
  font-size:20px;
  margin-top:0;
}
.points-amount{
  margin-bottom:2px;
  font-size:30px;
  color:rgb(239, 57, 57);
  font-weight:bold;
}
.lower-profile{
  display:flex;
  flex-direction:column;
  margin-top:20px;
}
.each-lower-profile{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-left:20px;
  margin-right:20px;
  background-color: white;
  border-radius:15px;
  margin-top:5px;
  margin-bottom:5px;
  padding-bottom:8px;
  padding-top:8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.profile-img-box{
  width:30px;
  margin-left:10px;
  margin-right:20px;
}
.profile-img{
  width:100%;
}
.right-arrow-box{
  margin-left:auto;
}
.profile-words{
  font-size:18px;
}
.logout-button{
  margin:0;
  margin-top:20px;
  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
}
.logout-img-box{
  width:25px;
}
.logout-img{
  width:100%;
}
.logout-word{
  font-size:25px;
  color:rgb(239, 57, 57);
  margin-left:10px;
  margin-bottom:28px;
  font-weight:bold;
}
.profile-inputs{
  margin-left:20px;
  margin-right:30px;
  display:flex;
  flex-direction:column;
}
.each-input-box1,.each-input-box2{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 241, 237);
  border-radius:15px;
  padding:10px;
  margin-top:8px;
  height:40px;
}
.name-and-email1,.name-and-email2{
  font-weight:bold;
  font-size:20px;
  margin-bottom:0;
  margin-left:20px;
}
.name-input, .email-input{
  border-radius:15px;
  border:none;
  font-family:'DM Sans',sans-serif;
  font-size:14px;
  padding:10px;
}

.confirm-name,.confirm-email{
  margin-left:auto;
  padding-right:20px;
  padding-left:20px;
  border-radius:15px;
  padding:10px;
  background-color:rgb(240, 69, 69);
  color:white;
}
/*.khadija-button{
  background-color: purple;
  color:white;
  margin:30px;
  padding:10px;
  border-radius:15px;
  border:none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}*/
