.request-section{
  font-family:'DM Sans',sans-serif;
  background-color: rgb(246, 246, 238);
  margin: 0;
  min-height:100vh;
  overflow-x:hidden ;
  position:relative;
}
.request-header{
  display:flex;
  flex-direction:row;
  align-items:center;
}
.request-arrow{
  width:25px;
  margin-left:20px;
}
.request-arrow-img{
  width:100%;
}
.suggest-title{
  font-size:20px;
  margin-left:10px;
  margin-bottom:25px;
}
.request-rest{
  display:flex;
  flex-direction:column;
  margin-left:20px;
  margin-right:20px;
}
.dish-name-text{
  margin-bottom:2px;
  opacity:0.8;
  font-weight:bold;
}
.dish-name-input{
  border-radius:15px;
  padding:15px;
  border:1px solid gray;
  font-size:18px;
  font-family:'DM Sans',sans-serif;
}
.category-text{
  margin-bottom:2px;
  margin-top:20px;
  opacity:0.8;
  font-weight:bold;
}
.select-category-text{
  display:flex;
  padding:15px;
  background-color: white;
  border:1px solid gray;
  border-radius:15px;
  margin-top:0;
}
.category-box{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap:5px;
  right:0;
  left:0;
  max-height:0;
  padding-left:20px;
  padding-right:20px;
  overflow-y: hidden;
  position:absolute;
  top:270px;
  z-index:2;
  transition: opacity 1s ease,max-height 1s ease;
}
.category-option{
  background-color: rgb(233, 66, 66);
  padding:10px;
  border-radius:15px;
  color:white;
  width:100%;
  display:flex;
  align-items:center;
  justify-content: center;
  margin:0;
}
.request-description{
  margin-bottom:2px;
  opacity:0.8;
  font-weight:bold;
}
.big-text-box{
  border-radius:15px;
  padding-bottom:100px;
  padding-top:20px;
  display:flex;
  border:1px solid gray;
  flex-direction: column;
  justify-content: flex-start;
  padding-left:20px;
  padding-right:60px;
  font-size:17px;
  font-family:'DM Sans',sans-serif;
}
.big-text-box::placeholder{
  text-wrap: wrap;
}
.ingredients-text{
  margin-bottom:2px;
  opacity:0.8;
  font-weight:bold;
}
.ingredients-text-box{
  border-radius:15px;
  padding-bottom:50px;
  border:1px solid gray;
  font-size:16px;
  padding-left:10px;
  padding-top:10px;
  font-family:'DM Sans',sans-serif;
}
.img-and-video{
  display:flex;
  flex-direction:column;
  align-items:center;
  margin-top:10px;
  gap:5px;
}
.img-upload-box{
  margin:0;
  background-color: white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  border-radius:15px;
  border:1px solid gray;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
}
.video-upload-box{
  margin:0;
  background-color: white;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
  border-radius:15px;
  border:1px solid gray;
  width:100%;
  padding-top:20px;
  padding-bottom:20px;
}
.add-file{
  margin-bottom:2px;
  margin-top:5px;
  opacity:0.8;
  font-weight:bold;
}
.proposal-button{
  display:flex;
  padding:20px;
  background-color: rgb(233, 66, 66);
  color:white;
  border-radius:15px;
  font-size:18px;
  align-items: center;
  justify-content: center;
}
.success-section{
  background-color: white;
  position: absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  z-index:3;
  display:flex;
  align-items:center;
  justify-content: center;
  transform:scale(0);
  opacity:0;
  transition: opacity 1.5s ease,transform 1.5s ease;
}
.request-success-box{
  width:36px;
  margin-right:10px;
  margin-top:8px;
}
.request-success-img{
  width:100%;
}
.request-success-message{
  font-size:22px;
  color:rgb(2, 58, 2);
}
.request-message-box{
  background-color:rgb(174, 233, 174);
  border-radius:25px;
  display:flex;
  margin-right:50px;
  margin-left:50px;
  flex-direction: row;
  align-items: center;
  padding:10px;
  text-wrap: nowrap;
}
.dish-name-required,.ingredients-required,.description-required{
  margin-top:0;
  margin-bottom: 10px;
  font-weight: bold;
  color:rgb(240, 69, 69);
}